#projectBody {
    margin:10px;
    padding:2ch;
    max-width:20px;
    max-width:1100px;
    margin:auto;
    font-size:20px;
    border:1px dashed var(--contrast);
    border-top:none;
}

.header-project {
    width:100%;
    font-weight:700;
    margin-bottom:2ch;
}

.header-project h1 {
    margin:0;
    font-size:50px;
}

.header-project a {
    font-size:15px;
}

.subheader-project {
    font-size:30px;
    position:relative;
    font-weight: 600;
    z-index:0;
}

.subsubheader-project {
    font-size:25px;
    position:relative;
    font-weight:600;
    z-index:0;
}

.subsubheader-project:before {
    content: "| ";
    color:var(--accent);
}

p {
    margin-bottom:20px;
}

.section {
    margin-bottom:1ch;
}

.project-img {
    width:100%;
    max-width:500px;
}

@media screen and (max-width: 768px) {
    #projectBody {
        font-size:14px;
    }

    .header-project {
        font-size:30px;
    }

    .subheader-project {
        font-size:20px;
    }
    
    .subsubheader-project {
        font-size:15px;
    }
}