#header {
    width:100%;
    display:flex;
    color:var(--textcolor);
    background-color: var(--dark);
    position:sticky;
    top:0;
    z-index:1;
}

.name {
    padding:10px;
    width:100%;
    text-align: center;
    margin:auto;
    font-size:50px;
    font-family: Menlo Regular;
    color:var(--textcolor);
}

@media screen and (max-width:768px) {
    .name {
        font-size:30px;
        text-align: left;
    }
}