#cursorAnimation {
    position: relative;
    margin:auto;
    width: 80%;
    max-width: 400px;
    aspect-ratio: 1/1;
}

#cursor {
    width:50px;
    height:50px;
    position:absolute;
    top:110%;
    left:50%;
}

#cursor img {
    width:100%;
    filter: brightness(0) invert(1);
}

#imageReveal, #grayscaleImage, #nextImage {
    width:100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
}

#imageReveal {
    opacity:0;
}

#nextImage {
    left:100%;
}

#grayscaleImage, #nextImage {
    filter:grayscale(100%) blur(10px);
    opacity: 0.15;
}

#imageSwap {
    width:100%;
    height:100%;
    overflow:hidden;
    position:absolute;
}

@keyframes carousel {
    0% {
        transform:translateX(0);
    }
    100% {
        transform:translateX(-100%);
    }
}

@keyframes move-cursor {
    0% {
        top:110%;
        left:50%;
    }
    20% {
        top:0;
        left:0;
    }
    40% {
        top:100%;
        left:100%;
    }
    60% {
        top:100%;
        left:100%;
    }
    80% {
        top:110%;
        left:50%;
    }
}

@keyframes move-selection {
    0% {
        clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
        opacity:1;
    }
    20% {
        clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
    }
    40% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    60% {
        opacity:1;
    }
    80% {
        opacity:0;
    }
}

.run-carousel {
    animation: carousel 0.5s forwards;
}

.run-cursor {
    animation: move-cursor 10s forwards;
}

.run-reveal {
    animation: move-selection 10s;
}

.hidden {
    opacity: 0;
}