#cursorAnimation {
    position: relative;
    margin:auto;
    width: 80%;
    max-width: 500px;
    aspect-ratio: 1/1;
    transition: ease-in-out 0.2s;
}

#pause-on-hover {
    display: block;
    position:absolute;
    bottom:100%;
    right:0;
    width:150px;
    height:75px;
    object-fit: contain;
    filter: brightness(0) invert();
    pointer-events: none;
}

#cursor {
    width:50px;
    height:50px;
    position:absolute;
    top:110%;
    left:50%;
}

#cursor img {
    width:100%;
    filter: brightness(0) invert(1);
}

#imageReveal, #grayscaleImage, #nextImage {
    width:100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
}

#imageReveal {
    border-radius: 15px;
}

#nextImage {
    left:100%;
}

#grayscaleImage, #nextImage {
    filter:grayscale(100%) blur(10px);
    opacity: 0.4;
    backface-visibility: hidden;
    will-change: transform;
}

#imageSwap {
    width:100%;
    height:100%;
    overflow:hidden;
    position:absolute;
    border-radius:15px;
}

@keyframes carousel {
    0% {
        transform:translateX(0);
    }
    100% {
        transform:translateX(-100%);
    }
}

@keyframes move-cursor {
    0% {
        top:110%;
        left:50%;
    }
    15% {
        top:0;
        left:0;
    }
    40% {
        top:100%;
        left:100%;
    }
    70% {
        top:100%;
        left:100%;
    }
    100% {
        top:110%;
        left:50%;
    }
}

@keyframes move-selection {
    0% {
        clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
        opacity:0;
    }
    15% {
        clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
        opacity:1;
    }
    40% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    70% {
        opacity:1;
    }
    100% {
        opacity:1;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

.run-carousel {
    animation: carousel 0.5s forwards;
}

.run-cursor {
    animation: move-cursor 7.5s forwards;
}

.run-reveal {
    opacity:0;
    animation: move-selection 7.5s forwards;
}

@keyframes fade {
    0% {
        opacity:1;
    }

    100% {
        opacity:0;
    }
}

.fade {
    animation: fade 0.6s forwards;
}

@media screen and (max-width: 768px) {
    #pause-on-hover {
        display: none;
    }

    #cursorAnimation:hover {
        transform: none;
    }
}