:root {
    --main1: rgb(221, 221, 221);
    --main2: rgb(28, 28, 28);
    /* --main2: rgb(18, 18, 18); */
    --main2Lighter: rgb(32, 32, 32);
    --main2Dark: rgb(24, 24, 24);
    /* --main2Dark: rgb(14, 14, 14); */
    --accent: rgb(68, 146, 255);

    --textColor1: black;
    --textColor2: whitesmoke;
    --hyperlink: rgb(181, 192, 222);
    /* --highlight: rgba(255, 255, 255, 0.05); */
    --highlight: rgba(255, 0, 251, 0.05);

    --pink1: #f8a8d4;
    --pink2: #818cf8;
}

html, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: var(--textColor2);
    background-color: var(--main2);
    font-family: sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--hyperlink);
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 50px;
}

hr {
    width:60%;
    border: 1px solid var(--main2Lighter);
}

.accent {
    color: var(--accent);
}

.verticalFlex {
    flex:1;
    display: flex;
    flex-direction: column;
}

.buttonFlex {
    flex:1;
    display: flex;
    flex-direction: column;
    padding:0!important;
    justify-content: end;
    align-items: end;
}

.buttonFlex div:nth-child(2) {
    display: flex;
    align-items: end;
    justify-content: end;
    width:100%;
    box-sizing: border-box;
    padding:20px;
    flex:1;
}

.buttonFlex div:nth-child(2) button {
    background-color: transparent;
    border:none;
    color:var(--textColor2);
    font-size:15px;
    border-radius:50px;
    position: relative;
}

.buttonFlex div:nth-child(2) button img {
    width:30px;
    aspect-ratio: 1/1;
    margin:0;
    filter:invert(1);
    transition: ease 0.4s;
}

.horizontalFlex {
    display: flex;
    flex-direction: row;
    align-items: end;
    width:100%;
}

#header {
    width: 100vw;
    min-height: 75vb;
    color: var(--textColor2);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    box-sizing: border-box;
    padding:40px;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, .95), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, .95)), url(../resources/imgs/background.jpg);
    background-size: cover;
    background-position-y: 50%;

    z-index: 2;
}

#header * {
    user-select: none;
}

@media (max-width:549px) {
    #header h1 {
        font-size:60px;
    }

}

@media (max-width:999px) {
    #about, .doubleSec .extra div, .section {
        flex-direction: column;
    }

    #about {
        width:90%;
        margin:auto;
    }
}

@media (min-width:550px) {
    #header h1 {
        font-size:95px;
    }
}

@media (min-width:1000px) {
    .section:hover:not(.doubleSec > .section), .doubleSec:hover {
        transform:scale(1.05);
        box-shadow: 0 0 10px var(--highlight);
    }

    .section:hover:not(.doubleSec > .section) + *, .section:not(.doubleSec > .section):has(+ .section:hover) {
        transform:scale(calc(2 - 1.013));
    }

    #about, .doubleSec .extra div, .section {
        flex-direction: row;
    }

    .doubleSec .extra div:hover > img {
        transform:scale(1.05);
    }

    #about {
        width:70%;
        margin-left:20%;    
    }

    .socials a img {
        filter:grayscale(.6);
        transition: ease 0.2s;
    }

    .socials a img:hover {
        filter:grayscale(0);
    }
}

#header h1 {
    word-wrap: break-word;
    margin:0;
    z-index:2;
}

.profilepic {
    width:80px;
    height:80px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    position: relative;
    border: 5px solid var(--main2);
    transition: ease 0.2s;
    object-fit: cover;
}

.profilepic:hover {
    transform: scale(1.2) rotate(10deg);
}

.buttons a {
    min-width:95px;
    min-height:50px;
    border: 1px solid var(--main1);
    font-size:20px;
    padding:10px;
    border-radius:10px;
    background-color: transparent;
    color:var(--textColor2);
    transition: ease 0.2s;
    text-decoration: none;
}

.buttons a:hover {
    text-decoration: none;
    color: var(--accent);
    border-color: var(--accent);
}

.socials a img {
    height:25px;
}

#main {
    padding-top: 50px;
}

.doubleSec, .section {
    width:80%;
    margin:auto;
    margin-bottom:50px;
    border-radius:30px;
    border: 1px solid var(--main2);
    overflow: hidden;
    display: flex;
    background-color: var(--main2Dark);
    color: var(--textColor2);
    transition: ease 0.5s;
}

.doubleSec {
    flex-direction: column;
}

.doubleSec .section {
    width:100%;
    margin-bottom:-30px;
    z-index: 10;
}

.doubleSec .extra {
    padding-top:30px;
    width:100%;
    margin:auto;
    background-color: var(--main2Lighter);
    transition: ease 0.5s;
    height:0;
}

.doubleSec .extra div {
    height:min-content;
    width:100%;
    margin:0;
    padding:5px 25px;
    border-radius: 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.doubleSec .extra img {
    transition: ease 0.5s;
    height:100px;
    object-fit: cover;
    aspect-ratio: 3/2;
    padding:10px;
    border-radius: 25px;
}

.doubleSec .extra h1 {
    font-size:30px;
    margin-right:10px;
}

.doubleSec .extra p {
    font-size:15px;
}

.section span {
    font-size:13px;
    display: inline-block;
    border: 1px solid var(--main1);
    padding:5px 10px;
    border-radius: 50px;
    user-select: none;
}

.section div {
    flex:3;
    padding:25px;
}

.section .img {
    flex:2;
    padding:0;
    user-select: none;
    font-size:0;
}

.section .img img {
    object-fit: cover;
    width:100%;
    height:100%;
}

.section h1 {
    margin:20px 0;
    font-size:35px;
    font-weight:600;
}

.section p {
    font-size:20px;
    font-weight:100;
    line-height: 170%;
}

#about {
    padding:15px;
    box-sizing: border-box;
    line-height: 300%;
    display: flex;
}

#about div:nth-child(1) {
    z-index: 2;
    flex: 2;
}

#about div:nth-child(2) {
    z-index: 1;
    flex:1;
}

#about div:nth-child(1) h1 {
    font-size:35px;
}

#about div:nth-child(1) p {
    font-size:20px;
}

#about div:nth-child(2) img {
    width:100%;
    box-shadow: 0 0 50px 20px black;
}

#footer {
    margin-top:20vh;
    text-align: right;
    padding: 15px;
    box-sizing: border-box;
}