@import "tailwindcss";

@font-face {
    font-family: 'Menlo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Menlo Regular'), url('assets/Menlo-Regular.woff') format('woff');
}

.chip {
    font-size: 20px;
}

#cover {
    width:100%;
    min-height: 100vh;
    background: var(--dark);
    color:whitesmoke;
    position:relative;
    display:flex;
    flex-direction: row;
    padding:15px;
}

#cover .info {
    flex:2;
    display:flex;
    flex-direction: column;
}

#cover .info #socials {
    width:max-content;
}

#cover .info #socials a {
    display: inline-block;
    margin:0 2px;
    background-color: var(--dark);
    transition: ease-in-out 0.2s;
}

#cover .info #socials a:nth-child(2) {
    transform:translateX(-80%);
}

#cover .info #socials a:nth-child(3) {
    transform:translateX(-180%);
}

#cover .info #socials:hover a:nth-child(2) {
    transform:translateX(0%);
}

#cover .info #socials:hover a:nth-child(3) {
    transform:translateX(0%);
}


#cover .info #socials a img {
    height:25px;
}

#cover .images {
    flex:3;
    display:flex;
    align-items: center;
}

#name {
    position: static;
    margin:auto;
    width:max-content;
    font-size:80px;
    font-family: Menlo Regular;
}

@media screen and (max-width: 768px) {
    #cover .info #socials a:nth-child(2) {
        transform:translateX(0%);
    }

    #cover .info #socials a:nth-child(3) {
        transform:translateX(0%);
    }

    #cover {
        flex-direction: column;
        padding-bottom:100px;
    }

    #cover .info {
        flex-direction: column-reverse;
    }

    #name {
        font-size:50px;
        margin-bottom:0;
    }

    .chip {
        font-size:10px;
    }
    
    #cursorAnimation {
        margin-top:10%!important;
    }
}

.dotted-bg {
  background-image: radial-gradient(var(--contrast) 1px, transparent 0)!important;
  background-size: 40px 40px!important;
  background-position: -19px -19px!important;
  z-index:0;
}

.dotted-bg-strong {
  background-image: radial-gradient(var(--gray) 1px, transparent 0)!important;
  background-size: 30px 30px!important;
  background-position: -19px -19px!important;
  z-index:0;
}

#body {
    height: 400vh;
    width:100vw;
    display: flex;
    position: relative;
}

#body #nav {
    flex:3;
    display: flex;
    height:100%;
    border-right: 1px solid var(--contrast);
    /* background: var(--light); */
}

#body #nav ul {
    margin:15px;
    background-color: var(--panel);
    width:100%;
    border-radius: 7px;
    overflow:hidden;
    height: max-content;
    position:sticky;
    top:10px;
}

#body #nav ul li {
    padding:10px 20px;
    /* background-color: var(--contrast); */
    font-size:15px;
}

#body #nav .header {
    background-color: var(--accent);
    color: whitesmoke;
    font-size:17px;
    font-weight: 700;
}

#body #nav .subHeader {
    /* background-color: var(--gray); */
    color:whitesmoke;
}

#body #content {
    flex:10;
    /* background-color: blue; */
}

#body #progress {
    flex:1;
    /* background-color: red; */
}

a {
    color: var(--accent);
    text-decoration: underline;
}