@import "tailwindcss";

@font-face {
    font-family: 'Menlo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Menlo Regular'), url('assets/Menlo-Regular.woff') format('woff');
}

.chip {
    font-size: 20px;
}

#cover {
    width:100%;
    min-height: 100vh;
    background: var(--dark);
    color:whitesmoke;
    position:relative;
    display:flex;
    flex-direction: row;
    padding:15px;
}

#cover .info {
    flex:2;
    display:flex;
    flex-direction: column;
}

#cover .info #socials {
    width:max-content;
}

#cover .info #socials a {
    display: inline-block;
    margin:0 2px;
    background-color: var(--dark);
    transition: ease-in-out 0.2s;
}

#cover .info #socials a:nth-child(2) {
    transform:translateX(-80%);
}

#cover .info #socials a:nth-child(3) {
    transform:translateX(-180%);
}

#cover .info #socials:hover a:nth-child(2) {
    transform:translateX(0%);
}

#cover .info #socials:hover a:nth-child(3) {
    transform:translateX(0%);
}


#cover .info #socials a img {
    height:25px;
}

#cover .images {
    flex:3;
    display:flex;
    align-items: center;
}

#body {
    height: 400vh;
    width:100vw;
}

#name {
    position: static;
    margin:auto;
    width:max-content;
    font-size:80px;
    font-family: Menlo Regular;
}

@media screen and (max-width: 768px) {
    #cover .info #socials a:nth-child(2) {
        transform:translateX(0%);
    }

    #cover .info #socials a:nth-child(3) {
        transform:translateX(0%);
    }

    #cover {
        flex-direction: column;
        padding-bottom:100px;
    }

    #cover .info {
        flex-direction: column-reverse;
    }

    #name {
        font-size:50px;
        margin-bottom:0;
    }

    .chip {
        font-size:10px;
    }
    
    #cursorAnimation {
        margin-top:10%!important;
    }
}