@import "tailwindcss";

@font-face {
    font-family: 'Menlo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Menlo Regular'), url('assets/Menlo-Regular.woff') format('woff');
}

.location {
    font-size: 20px;
    overflow-wrap: break-word;
    word-break: break-all;
    min-width:0;
}

.chip {
    font-size:13px;
    display: inline-block;
    border: 1px solid var(--contrast);
    padding:5px 10px;
    border-radius: 50px;
    user-select: none;
    height:max-content;
    transition: 0.15s ease-in-out;
}

#cover {
    width:100%;
    min-height: 100vh;
    background: var(--dark);
    color:var(--textcolor);
    position:relative;
    display:flex;
    flex-direction: row;
    overflow-x:hidden;
}

#cover .info {
    flex:2;
    display:flex;
    flex-direction: column;
}

#cover .info #socials {
    width:max-content;
    margin:15px;
    position:relative;
}

#call-to-action {
    display: block;
    position:absolute;
    bottom:140%;
    left:0;
    width:100px;
    height:50px;
    object-fit: contain;
    pointer-events: none;
}

[data-theme='dark'] #call-to-action {
    filter: brightness(0) invert();
}

#cover .info #socials a {
    display: inline-block;
    margin:0 2px;
    background-color: var(--dark);
    transition: ease-in-out 0.2s;
}

#cover .info #socials a:nth-child(2) {
    transform:translateX(-80%);
}

#cover .info #socials a:nth-child(3) {
    transform:translateX(-180%);
}

#cover .info #socials:hover a {
    transform:translateX(0%);
}

#cover .info #socials a img {
    height:25px;
}

#cover .images {
    flex:3;
    display:flex;
    align-items: center;
    z-index: 100;
}

#name {
    position: static;
    margin:auto;
    width:max-content;
    font-size:80px;
    font-family: Menlo Regular;
}

.dotted-bg {
  background-image: radial-gradient(var(--contrast) 1px, transparent 0)!important;
  background-size: 40px 40px!important;
  background-position: -19px -19px!important;
  z-index:0;
}

.dotted-bg-strong {
  background-image: radial-gradient(var(--contrast) 1px, transparent 0)!important;
  background-size: 30px 30px!important;
  background-position: -19px -19px!important;
  z-index:0;
}

#body {
    min-height: 100vh;
    max-width:1600px;
    margin:auto;
    width:100%;
    height:100%;
    display: flex;
    position: relative;
}

.markdown-body {
    white-space: pre-wrap;
}

#body #nav {
    flex:3;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding:50px 20px;
    color:var(--textcolor);
    max-width:400px;
}

#body #nav #about-nav {
    font-size:23px;
}

#body #nav #profile-pic {
    width:60%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#body #nav ul {
    margin-top:15px;
    background-color: var(--panel);
    width:100%;
    border-radius: 7px;
    overflow:hidden;
    height: max-content;
    position:sticky;
    top:15px;
}

#body #nav ul li {
    padding:10px 20px;
    font-size:15px;
    transition: 0.1s ease-in-out;
}

#body #nav ul li.active {
    background: var(--active);
}

#body #nav .header {
    background-color: var(--accent);
    color: var(--textcolor);
    font-size:17px;
    font-weight: 700;
}

#body #nav .subHeader {
    color:var(--textcolor);
    text-align: center;
    background-color: var(--subheader);
    font-weight:700;
}

#body #nav .subHeader a {
    color:var(--textcolor);
    text-decoration: none;
}

#body #content {
    flex:10;
    padding:10px;
    margin-top:5em;
    display: flex;
    flex-direction: column;
    font-size:20px;
}

#body #content .header {
    font-size:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

#body #content .header .chips {
    flex:1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:5px;
}

#body #content .header .title {
    display:flex;
}

.url {
    opacity:0;
    margin-left:.5ch;
    transition: 0.15s ease-in-out;
    font-weight:700;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title:hover .url {
    opacity:1;
}

#body #content .project {
    margin-bottom:3em;
    display:flex;
    flex-direction: column;
    box-shadow:0px 1px 10px black;
    padding:2ch;
    border-radius:10px;
}

#body #content .project .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body #content .project .info p {
    width:100%;
}

.construction1, .construction2 {
    width:100%;
    height:30px;
    background-color: red;
    background-image: url('./assets/caution_tape.png');
    background-size:contain;
}

.construction1 {
    transform:rotate(3.5deg) translateY(-50px);
}

.construction2 {
    transform:rotate(-3.5deg) translateY(-50px);
}

#body #content .project .info .coverImage {
    width:100%;
    max-width:450px;
    margin:20px 0;
    height:auto;
    object-fit:cover;
    border-radius:10px;
}

#body #progress {
    flex:3;
}

.subtitle {
    font-size:40px;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom:20px;
    margin-top:20px;
    display: flex;
    border-bottom: 2px solid var(--contrast);
}

.subtitle:hover .url {
    opacity:1;
}

#footer {
    width:100%;
    min-height:2em;
    padding:2em;
    margin-top:8em;
    font-size:20px;
}

#footer .subtitle {
    font-size:30px;
}

.button {
    background-color: var(--dark);
    text-align: center;
    margin:0;
    padding:1ch;
    border-radius:10px;
    border:1px solid var(--accent);
    text-decoration: none;
}

.button:hover {
    text-decoration: underline;
}

#theme-toggle {
    position:fixed;
    right:10px;
    bottom:10px;
    width:30px;
    height:30px;
    border-radius:10px;
    /* border:1px solid var(--contrast); */
    z-index:1;
}

[data-theme='dark'] #theme-toggle {
    filter: brightness(0) invert();
}

@media screen and (min-width:769px) {
    .chip:hover {
        border: 1px solid var(--accent);
    }
}

@media screen and (max-width: 768px) {
    #cover .info #socials a:nth-child(2) {
        transform:translateX(0%);
    }

    #cover .info #socials a:nth-child(3) {
        transform:translateX(0%);
    }

    #cover {
        flex-direction: column;
        padding-bottom:100px;
    }

    #cover .info {
        flex-direction: column-reverse;
    }

    #name {
        font-size:50px;
        margin-bottom:0;
    }

    .chip {
        font-size:10px;
    }
    
    #cursorAnimation {
        margin-top:10%!important;
    }

    #body #content .header {
        flex-direction: column;
        align-items: start;
    }

    #body #content .header .title {
        font-size:23px;
    }

    #body #content .header .chips {
        justify-content: start;
        align-items: start;
        margin-left:0;
    }

    #body {
        justify-content: center;
        flex-direction: column;
    }

    #body #nav {
        margin:0 auto;
        max-width: 500px!important;
        width:100%;
    }

    #body #nav .active {
        background:none!important;
    }

    #body #progress {
        display: none;
    }

    #body #content {
        padding:0 1em;
        margin-top:0;
        font-size:14px;
    }

    #body #content .project {
        margin:0;
    }

    .subtitle {
        font-size:30px;
        justify-content: center;
        width:100%;
    }

    #body #content .project .info .textContent {
        font-size:17px;
    }

    .url {
        opacity:1;
    }

    .location {
        font-size:15px;
    }

    #footer {
        font-size:15px;
    }

    #footer .subtitle {
        font-size:25px;
    }
    
    .button:hover {
        text-decoration: none;
    }

    #call-to-action {
        display: none;
    }
}