@import "tailwindcss";

@font-face {
    font-family: 'Menlo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Menlo Regular'), url('assets/Menlo-Regular.woff') format('woff');
}

.location {
    font-size: 20px;
    overflow-wrap: break-word;
    word-break: break-all;
    min-width:0;
}

.chip {
    font-size:13px;
    display: inline-block;
    border: 1px solid var(--contrast);
    padding:5px 10px;
    border-radius: 50px;
    user-select: none;
    height:max-content;
    filter: drop-shadow(0px 0px 3px var(--accent));
}

#cover {
    width:100%;
    min-height: 100vh;
    background: var(--dark);
    color:whitesmoke;
    position:relative;
    display:flex;
    flex-direction: row;
    overflow-x:hidden;
}

#cover .info {
    flex:2;
    display:flex;
    flex-direction: column;
}

#cover .info #socials {
    width:max-content;
}

#cover .info #socials a {
    display: inline-block;
    margin:0 2px;
    background-color: var(--dark);
    transition: ease-in-out 0.2s;
}

#cover .info #socials a:nth-child(2) {
    transform:translateX(-80%);
}

#cover .info #socials a:nth-child(3) {
    transform:translateX(-180%);
}

#cover .info #socials:hover a {
    transform:translateX(0%);
}

#cover .info #socials a img {
    height:25px;
}

#cover .images {
    flex:3;
    display:flex;
    align-items: center;
}

#name {
    position: static;
    margin:auto;
    width:max-content;
    font-size:80px;
    font-family: Menlo Regular;
}

.dotted-bg {
  background-image: radial-gradient(var(--contrast) 1px, transparent 0)!important;
  background-size: 40px 40px!important;
  background-position: -19px -19px!important;
  z-index:0;
}

.dotted-bg-strong {
  background-image: radial-gradient(var(--gray) 1px, transparent 0)!important;
  background-size: 30px 30px!important;
  background-position: -19px -19px!important;
  z-index:0;
}

#body {
    min-height: 100vh;
    width:100%;
    height:100%;
    display: flex;
    position: relative;
}

.markdown-body {
    white-space: pre-wrap;
}

#body #nav {
    flex:3;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    /* border-right: 1px solid var(--contrast); */
    padding:50px 20px;
    color:whitesmoke;
}

#body #nav #about-nav {
    font-size:23px;
}

#body #nav #profile-pic {
    width:60%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#body #nav ul {
    margin-top:15px;
    background-color: var(--panel);
    width:100%;
    border-radius: 7px;
    overflow:hidden;
    height: max-content;
    position:sticky;
    top:15px;
}

#body #nav ul li {
    padding:10px 20px;
    font-size:15px;
    transition: 0.1s ease-in-out;
}

#body #nav ul li.active {
    background: rgba(68, 146, 255, 0.2);
}

#body #nav .header {
    background-color: var(--accent);
    color: whitesmoke;
    font-size:17px;
    font-weight: 700;
}

#body #nav .subHeader {
    color:whitesmoke;
    text-align: center;
    background-color: var(--light);
    font-weight:700;
}

#body #nav .subHeader a {
    color:whitesmoke;
    text-decoration: none;
}

#body #content {
    flex:10;
    padding:10px;
    margin-top:5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size:20px;
}

#body #content .header {
    font-size:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

#body #content .header .chips {
    flex:1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:5px;
}

#body #content .header .title {
    display:flex;
}

.url {
    opacity:0;
    margin-left:.5ch;
    transition: 0.15s ease-in-out;
    font-weight:700;
}

.title:hover .url {
    opacity:1;
}

#body #content .project {
    margin-bottom:3em;
    display:flex;
    flex-direction: column;
}

#body #content .project .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body #content .project .info p {
    width:100%;
}

#body #content .project .info .coverImage {
    width:100%;
    max-width:450px;
    margin:20px 0;
    height:auto;
    object-fit:cover;
}

#body #progress {
    flex:2;
}

a {
    color: var(--accent);
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    #cover .info #socials a:nth-child(2) {
        transform:translateX(0%);
    }

    #cover .info #socials a:nth-child(3) {
        transform:translateX(0%);
    }

    #cover {
        flex-direction: column;
        padding-bottom:100px;
    }

    #cover .info {
        flex-direction: column-reverse;
    }

    #name {
        font-size:50px;
        margin-bottom:0;
    }

    .chip {
        font-size:10px;
    }
    
    #cursorAnimation {
        margin-top:10%!important;
    }

    #body #content .header {
        flex-direction: column;
        align-items: start;
    }

    #body #content .header .chips {
        justify-content: start;
        align-items: start;
        margin-left:0;
    }

    #body #nav, #body #progress {
        display: none;
    }

    #body #content {
        padding:2em;
    }

    #body #content .project .info .textContent {
        font-size:17px;
    }

    .url {
        opacity:1;
    }

    .location {
        font-size:15px;
    }
}

#content .subtitle {
    font-size:40px;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom:20px;
    margin-top:20px;
    display: flex;
    border-bottom: 2px solid var(--contrast);
}

#content .subtitle:hover .url {
    /* display: block; */
    opacity:1;
}