:root {
    --main: rgb(28, 28, 28);
    --dark: rgb(24, 24, 24);
    --accent: rgb(68, 146, 255);
}

html, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* color: whitesmoke; */
    background-color: var(--main);
    font-family: sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}