:root {
    --main: rgb(28, 28, 28);
    --contrast: rgb(65, 65, 65);
    --dark: rgb(24, 24, 24);
    --subheader: rgb(41, 67, 76);
    --textcolor: rgb(245, 245, 245);
    --accent: rgb(68, 146, 255);
    --panel: rgb(35, 35, 35);

    --active: rgba(68, 146, 255, 0.2);
}

[data-theme='light'] {
    --main: rgb(255, 255, 255);
    --contrast: rgb(130, 130, 130);
    --dark: rgb(235, 235, 235);
    --subheader: rgb(136, 167, 176);
    --textcolor: rgb(25, 25, 25);
    --accent: rgb(68, 146, 255);
    --panel: rgb(225, 225, 225);
}

html, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: var(--main);
    font-family: sans-serif;
    scroll-behavior: smooth;
    color:var(--textcolor);
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}